body {
  --main-text: black;
  --main-bg: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

#mainContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

.hide {
  display: none;
}

#optionContainer,
#factSection {
  display: flex;
  justify-content: center;
}

#factContainer {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: end;
  border-bottom: 3px solid var(--main-text);
}

#topDigitText,
#signText,
#bottomDigitText {
  margin: 3px;
  font-size: 40px;
}

.smallerText {
  font-size: 20px !important;
}

#bottomContainer {
  display: flex;
}

textarea {
  margin-top: 10px;
  width: 45px;
  height: 25px;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  padding-top: 4px;
  border: 1.5px solid var(--main-text);
  border-radius: 10px;
  background-color: inherit;
}

footer {
  padding-top: 30px;
}
